<div class="row">
  <div class="col-12">
    <h2>All Boards</h2>
  </div>
  <div class="col-12">
    <hr />
    <%= form_with url: boards_path, method: :get, class: "row" do |form| %>
      <div class="col-md-4">
        <%= form.label :name, "Filter by name:", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= form.label :created_by, "Filter by author email:", class: "form-label" %>
        <%= form.email_field :created_by, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= form.label :min_mines, "Min mines count:", class: "form-label" %>
        <%= form.number_field :min_mines, class: "form-control" %>
      </div>
      <div class="col-md-2 filter-button">
        <%= form.submit "Filter", class: "btn btn-primary btn-md" %>
      </div>
    <% end %>
  </div>
  <div class="col-12">
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Total Mines</th>
          <th scope="col">Created by</th>
          <th scope="col">Created on</th>
        </tr>
      </thead>
      <tbody>
        <% @boards.each do |board| %>
          <tr>
            <td><%= link_to board.name, board_path(board) %></td>
            <td><%= "#{board.width} x #{board.height}" %></td>
            <td><%= board.mines_count %></td>
            <td><%= board.created_by %></td>
            <td><%= board.created_at.strftime(FRIENDLY_TIME_FORMAT) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-12">
    <%= paginate @boards %>
  </div>
</div>